/Debug/AoC2019.exe
/Debug/AoC2019.ilk
/Debug/AoC2019.pdb
/AoC2019/Debug/AoC2019.log
/AoC2019/Debug/AoC2019.obj
/AoC2019/Debug/AoC2019.tlog/AoC2019.lastbuildstate
/AoC2019/Debug/AoC2019.tlog/CL.command.1.tlog
/AoC2019/Debug/AoC2019.tlog/CL.read.1.tlog
/AoC2019/Debug/AoC2019.tlog/CL.write.1.tlog
/AoC2019/Debug/AoC2019.tlog/link.command.1.tlog
/AoC2019/Debug/AoC2019.tlog/link.read.1.tlog
/AoC2019/Debug/AoC2019.tlog/link.write.1.tlog
/AoC2019/Debug/Day1.obj
/AoC2019/Debug/stdafx.obj
/AoC2019/Debug/vc140.idb
/AoC2019/Debug/vc140.pdb
/AoC2019.VC.VC.opendb
